/*------------------------------
          GLOBAL CODES
--------------------------------*/
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/*------------------------------
          FOR NAVBAR
--------------------------------*/
.logo{
  font-family: 'Dancing Script', cursive;
  font-size: larger;
  font-weight: bold;
}

/*------------------------------
          FOR SEARCH
--------------------------------*/
form.input-container input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.input-container button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #262626;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.input-container button:hover {
  background: #0b7dda;
}

form.input-container::after {
  content: "";
  clear: both;
  display: table;
}

/*------------------------------
      FOR DISPLAY PRODUCTS
--------------------------------*/
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  height: 450px;
  background-color: lightgrey;
  width: 99%;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid darkgray;
}
.product-image {
  width: 150px;
  height: 150px;
}
#rating{
  display: flex;
  justify-content: space-around;
}
.fa-star{
  color: goldenrod;
  margin-right: 5px;
}
.fa-user-check{
  color: lightskyblue;
  margin-right: 5px;
}
/*------------------------------
            FOR CART
--------------------------------*/
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  margin: auto;
  position: fixed;
  background-color: darkgrey;
  color: black;
  font-weight: lighter;
}
.cart-main {
  padding-right: 30px;
}
.products_list_title{
  display: block;
  margin: auto;
  text-align: center;
  margin: 20px;
  font-size: large;
}
/*------------------------------
          MEDIA QUERY
      FOR RESPONSIVENESS 
--------------------------------*/

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
